# Environments and Secrets
.env
*.env
!.env.example
*.tmp


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
/coverage/
.widget_preview/

# Android Studio / Xcode / IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.DS_Store

# Android build outputs
**/android/app/debug
**/android/app/profile
**/android/app/release
